<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order Scheduler</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>Welcome to order scheduler</h1>
    <h2>Log In</h2>
    
  <form action="/login" method="post">
    <div>
      <input type="text" name="username" placeholder="username" autofocus autocomplete="off">
    </div>
    <div>
        <input type="text" name="password" placeholder="password" autofocus autocomplete="off">
      </div>
    <button type="submit">Login</button>
  </form>

</body>

</html>